{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ post['title'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <section>
    {# 日時、投稿者名 #}
    <time datetime="{{ post.created.strftime('%Y-%m-%d') }}">{{ post['created'].strftime('%Y-%m-%d %H:%M') }}</time>
    <p>by {{ post['username'] }}</p>
    {# 本文 #}
    {{ post['body'] | markdown | safe }}
    {% if g.user['id'] == post['author_id'] %}
    <a href="{{ url_for('blog.update', id=post['id']) }}" class="pure-button pure-button-primary">Edit</a>
    {% endif %}
  </section>
  <section>
    {# 投票 #}
    {% include "blog/article/vote.html" %}
  </section>
  <section>
    {# コメント #}
    {% include "blog/article/comments.html" %}
  </section>
{% endblock %}