{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ post['title'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <article class="pure-g">
      <header class="pure-u-1">
        <div class="article-date article-detail-date">{{ post['created'].strftime('%Y-%m-%d %H:%M') }}</div>
        <div class="article-user">by {{ post['username'] }}</div>
      </header>
      <section class="pure-u-1">
        <p class="article-body">{{ post['body'] }}</p>
        {% if g.user['id'] == post['author_id'] %}
        <a href="{{ url_for('blog.update', id=post['id']) }}" class="pure-button pure-button-primary">Edit</a>
        {% endif %}
      </section>
      <hr />
      <section class="pure-u-1">
        {% if vote %}
        <div>あなたは{% if vote.intention == 1 %}賛成{% else %}反対{% endif %}に投票済です。</div>
        {% else %}
        <form action="{{ url_for('blog.vote_post', id=post['id']) }}" method="post">
          <button name="intention" value="1">賛成</button>
          <button name="intention" value="0">反対</button>
        </form>
        {% endif %}
      </section>
      {% if g.user['id'] %}
      <section class="pure-u-1">
        <form method="post"
        action="{{ url_for('blog.comment_create_post', id=post['id']) }}"
        class="pure-form pure-form-stacked">
          <label for="body">コメントする(40字以内)</label>
            <input type="text" class="pure-input-1" name="body" id="body" maxlength="40">
          <button type="submit" class="pure-button">comment</button>
        </form>
      </section>
      {% endif %}
      <section class="pure-u-1">
      <p>コメント({{ comments | length }})</p>
      {% for comment in comments %}
        <div class="comment-body">
          {{ comment['body']}} : 
          {{ comment['created']}} : 
          {{ comment['username']}} : 
          {% if g.user['id'] == comment['commenter_id'] %}
          <form 
            action="{{ url_for('blog.comment_delete_post', id=comment['post_id'], comment_id=comment['id']) }}" method="post"
          >
            <button type="submit">削除</button>
          </form>
          {% endif %}
        </div>
      {% endfor %}
      </section>
    </article>
{% endblock %}