{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ post['title'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <article class="pure-g">
      <header class="pure-u-1">
        <div class="article-date article-detail-date">{{ post['created'].strftime('%Y-%m-%d %H:%M') }}</div>
        <div class="article-user">by {{ post['username'] }}</div>
      </header>
      <section class="pure-u-1">
        <p class="article-body">{{ post['body'] }}</p>
        {% if g.user['id'] == post['author_id'] %}
        <a href="{{ url_for('blog.update', id=post['id']) }}" class="pure-button pure-button-primary">Edit</a>
        {% endif %}
      </section>
      <hr>
      <section class="pure-u-1">
        <form method="post"
        action="{{ url_for('blog.comment_create_post', id=post['id']) }}"
        class="pure-form pure-form-stacked">
          <label for="body">コメントする</label>
            <input type="text" class="pure-input-1" name="body" id="body">
          <button type="submit" class="pure-button">post</button>
        </form>
      </section>
      <hr/>
      <section class="pure-u-1">
      <p>コメント一覧</p>
      {% for comment in comments %}
        <div class="comment-body">{{ comment['body']}} : {{ comment['created']}}</div>
      {% endfor %}
      </section>
    </article>
{% endblock %}