{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
  <a href="{{ url_for('blog.create') }}" class="pure-button">New Post</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="pure-g">
      <header class="pure-u-1">
          <div class="article-date">{{ post['created'].strftime('%Y-%m-%d %H:%M') }}</div>
          <h2 class="article-title">{{ post['title'] }}</h2>
          <div>by {{ post['username'] }}</div>
      </header>
      <section class="pure-u-1">
        <p>{{ post['body'] }}</p>
        {% if g.user['id'] == post['author_id'] %}
        <a href="{{ url_for('blog.update', id=post['id']) }}" class="pure-button">Edit</a>
        {% endif %}
      </section>
    </article>
  {% endfor %}
{% endblock %}