{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Search Result{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div>
    <p>検索結果：{{ posts | length }}件</p>
  </div>
  {% for post in posts %}
    <article style="border:1px solid gray;">
      <h2>{{ post.title }}</h2>
      <time datetime="{{ post.created.strftime('%Y-%m-%d') }}">{{ post.created.strftime('%Y-%m-%d %H:%M') }}</time>
      <p>by {{ post.author_name }}</p>
      <p>comment({{ post.comment_count | default('0', true) }})</p>
      <p>賛成({{ post.agree | default('0', true) }}) 反対({{ post.disagree | default('0', true) }})</p>
      <p>{{ post.body[:30] | markdown | remove_tag }}
      {% if post.body | length > 30 %}
      ...
      {% endif %}
      </p>
      <a href="{{ url_for('blog.article', id=post['id']) }}">Read</a>
    </article>
  {% endfor %}
{% endblock %}