{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}投稿の編集: "{{ post['title'][:10] }}..."{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" class="pure-form pure-form-stacked">
    <label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or post['title'] }}" class="pure-input-1" required>
    <label for="body">Body</label>
    <textarea name="body" id="body" class="pure-input-1">{{ request.form['body'] or post['body'] }}</textarea>
    <button type="submit" class="pure-button pure-button-primary">保存</button>
  </form>
  <hr>
  <form action="{{ url_for('blog.delete_post', id=post['id']) }}" method="post" class="pure-form pure-form-stacked">
    <button type="submit" onclick="return confirm('Are you sure?');" class="pure-button pure-button-primary">投稿を削除</button>
  </form>
{% endblock %}