{% extends 'base.html' %} 

{% block header %}
<h1>{% block title %}ユーザー登録{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post" class="pure-u-1 pure-form pure-form-stacked">
  <label for="username">Username</label>
  <input name="username" id="username" class="pure-input-1" required />
  <label for="password">Password</label>
  <input type="password" name="password" id="password" class="pure-input-1" required />
  <button type="submit" class="pure-button pure-button-primary">登録</button>
</form>
{% endblock %}
