<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">  
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/grids-responsive-min.css" />
    <title>{% block title %}{% endblock %} - Flaskr</title>
  <head>
  <body>
    <nav class="pure-menu pure-menu-horizontal">
      <a href="{{ url_for('blog.index') }}" class="pure-menu-heading pure-menu-link">Flaskr</a>
      <ul class="pure-menu-list">
        {% if g.user %}
          <li class="pure-menu-item"><span>{{ g.user['username'] }} [id:{{ g.user['id'] }}] でログイン中</span></li>
          <li class="pure-menu-item"><a href="{{ url_for('auth.logout') }}" class="pure-menu-link">ログアウト</a></li>
        {% else %}
          <li class="pure-menu-item"><a href="{{ url_for('auth.register') }}" class="pure-menu-link">ユーザー登録</a></li>
          <li class="pure-menu-item"><a href="{{ url_for('auth.login') }}" class="pure-menu-link">ログイン</a></li>
        {% endif %}
      </ul>
    </nav>

    <section class="pure-g">
      <header class="pure-u-1">
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="pure-u-1">
          {{ message }}
        </div>
      {% endfor %}
      {% block content %}
        <!-- content -->
      {% endblock %}
    </section>
  </body>
</html>