<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">  
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>{% block title %}{% endblock %} - Flaskr</title>
  <head>
  <body>
    <div class="menu-container">
      <nav class="pure-menu pure-menu-horizontal menu-base">
        <a href="{{ url_for('blog.index') }}" class="pure-menu-heading pure-menu-link">Flaskr</a>
        <ul class="pure-menu-list menu-list">
          {% if g.user %}
            <li class="pure-menu-item"><span>{{ g.user['username'] }} [id:{{ g.user['id'] }}]</span></li>
            <li class="pure-menu-item"><a href="{{ url_for('auth.logout') }}" class="pure-menu-link">Logout</a></li>
          {% else %}
            <li class="pure-menu-item"><a href="{{ url_for('auth.register') }}" class="pure-menu-link">Register</a></li>
            <li class="pure-menu-item"><a href="{{ url_for('auth.login') }}" class="pure-menu-link">Login</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
    <main>
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div>
          {{ message }}
        </div>
      {% endfor %}
      <section class="content-container">
        {% block content %}
          <!-- content -->
        {% endblock %}
      </section>
    </main>
  </body>
</html>