<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">  
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/grids-responsive-min.css" /> #}
    {# <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" /> #}
    <title>{% block title %}{% endblock %} - Flaskr</title>
  <head>
  <body>
    {# 上部ナビゲーション #}
    <nav style="background:lightgray;border:1px solid black;">
      <a href="{{ url_for('blog.index') }}">Flaskr</a>
      {# 検索ボックス #}
      <form method="get" action="/search">
        <input type="text" name="author">
        <button type="submit">author search</button>
      </form>
      <ul>
        {% if g.user %}
          <li><span>{{ g.user['username'] }} [id:{{ g.user['id'] }}]</span></li>
          <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        {% else %}
          <li><a href="{{ url_for('auth.register') }}">Register</a></li>
          <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        {% endif %}
      </ul>
    </nav>
    {# ページタイトルヘッダー #}
    <header style="background: lightblue;border: 1px solid black;">
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div>
      {{ message }}
    </div>
    {% endfor %}
    {# 本文 #}
    <main style="border: 1px solid black;">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>